.body-wrap
  .base
    .header
      = link_to image_tag("head_img1.jpg", class: "header-image"),"http://aquarian-ac.net/", class: "header-image"
    .header-menu
      = link_to "掲示板", "/", class: "header-menu__list-board"
      = link_to "ゲーム紹介", "/", class: "header-menu__list-introduction"
      = link_to "新規登録", "/", class: "header-menu__list-signup"
      = link_to "ログイン", "/", class: "header-menu__list-signin"
    .nav
    .main
    .footer
      © 2019 Shota Tazawa
