.wrapper
  .body-wrap
    .base
      .header
        = link_to image_tag("banner/head_img1.jpg", class: "header-image"),"http://aquarian-ac.net/", class: "header-image"
      = render '/top/header_menu'
      .nav
        - if user_signed_in?
          %h3.user-label
            ユーザー名:
          %h3.user-name
            = current_user.username
        - else
          %h3.user-label
            ログインされていません
      .main
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :username
            %br
            = f.text_field :username, autofocus: true
          .field
            = f.label :email
            %br
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Sign up"
        = render "devise/shared/links"
      .footer
        © 2019 Shota Tazawa
