.wrapper
  .body-wrap
    .base
      .header
        = link_to image_tag("banner/head_img1.jpg", class: "header-image"),"http://aquarian-ac.net/", class: "header-image"
      = render '/top/header_menu'
      .nav
        - if user_signed_in?
          %h3.user-label
            ユーザー名:
          %h3.user-name
            #edit-show
              = current_user.username
            #edit-modal.edit-modal-wrapper
              .modal
                .close-modal
                  %i.fa.fa-2x.fa-times
                #edit-form
                  %h2 ユーザー編集
                  = form_for(current_user) do |f|
                    %input{name: "_method", type: "hidden", value: "put"}/
                    %input{name: "authenticity_token", type: "hidden", value: "jwCrlLR7/b/rJMyQJVUFNtMhw5g6pcGwMbod3dCFeuKz2ZAwmK6IdGy8y1xzbMmw+cxObuF/KfeSqKgT63RKhw=="}/
                    .field
                      %label{for: "user_username"} Username
                      %br/
                      %input#user_username{autofocus: "autofocus", name: "user[username]", type: "text", value: current_user.username}/
                    .field
                      %label{for: "user_email"} Eメール
                      %br/
                      %input#user_email{autocomplete: "email", autofocus: "autofocus", name: "user[email]", type: "email", value: current_user.email}/
                    .field
                      %label{for: "user_password"} パスワード
                      %i (6 characters minimum)
                      %br/
                      %input#user_password{autocomplete: "new-password", name: "user[password]", type: "password"}/
                      %br/
                    .field
                      %label{for: "user_password_confirmation"} パスワード（確認用）
                      %br/
                      %input#user_password_confirmation{autocomplete: "new-password", name: "user[password_confirmation]", type: "password"}/
                    .actions
                      %input{"data-disable-with" => "Update", class:"action-input", name: "commit", type: "submit", value: "Update"}/
        - else
          %h3.user-label
            ログインされていません
        
        %ul
          %li
            = link_to "ゲーム概要", summary_introductions_path
          %li
            = link_to "ストーリー", story_introductions_path
          %li
            = link_to "遊び方", play_introductions_path
          %li
            = link_to "プレイモード" ,mode_introductions_path
          %li
            = link_to "プレイ上のポイント" ,point_introductions_path
          %li
            = link_to "カードリスト" ,root_path
          %li
            = link_to "ギャラリー" ,root_path

      .main
        #mainR
          %h2#mainRAaaAsobi 遊び方
          %ul.menuS
            %li
              = link_to "ゲーム概要", summary_introductions_path
            %li 遊び方
          %h3
            はじめに
          %p
            = image_tag "introduction/aaa_whats_3box.jpg", width: "200", height: "150", alt: "はじめに", class: "pictL"
            はじめてゲームをプレイする場合の流れ、スターターパックの購入方法、NESYSカード、その他のカードの取り扱い方について説明します。
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_buystart_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
          %h3
            基本ルール
          %p
            = image_tag "introduction/aaa_asobi_gamen.jpg", width: "200", height: "150", alt: "基本ルール", class: "pictL"
            ゲームの勝利条件等、
            %em> 基本的なゲームルール
            について説明します。
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_rule_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
          %h3
            カードの役割
          %p
            = image_tag "introduction/aaa_asobi_card.jpg", width: "200", height: "150", alt: "カードの役割", class: "pictL"
            マインドブレイカーカード、キャラクターカード、オルタレーションカード、
            %em> それぞれの役割とカードの持つスキルについて
            説明します。
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_card_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
          %h3
            ゲーム画面説明
          %p
            = image_tag "introduction/aaa_gamen_s.jpg", width: "200", height: "150", alt: "ゲーム画面説明", class: "pictL"
            各種表示やパラメーター等、
            %em> ゲーム画面の見方について
            説明します。
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_gamen_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
          %h3
            操作説明
          %p
            = image_tag "introduction/aaa_asobi_sousa.jpg", width: "200", height: "150", alt: "操作説明", class: "pictL"
            サテライトの
            %em> 各操作部の名称と操作方法について
            説明します。
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_operation_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
          %h3
            %a#avatar{name: "avatar"}
            アバター編集
          %p
            = image_tag "introduction/aaa_asobi_avatar.gif", width: "200", height: "150", alt: "アバターの編集", class: "pictL"
            マインドブレイカー（自分）の
            %em> キャラクターをカスタマイズする方法
            を説明します。
            %br
            %br.clear
          .linker
            = link_to image_tag("introduction/main_iconsyousai.gif", alt: "詳細を見る"),play_avatar_introductions_path
          %p
          .linker
            %a{href: "#top"} ▲このページのトップへ
      .footer
        © 2019 Shota Tazawa
