.wrapper
  .body-wrap
    .base
      .header
        = link_to image_tag("banner/head_img1.jpg", class: "header-image"),"http://aquarian-ac.net/", class: "header-image"
      = render '/top/header_menu'
      .nav
        - if user_signed_in?
          %h3.user-label
            ユーザー名:
          %h3.user-name
            #edit-show
              = current_user.username
            #edit-modal.edit-modal-wrapper
              .modal
                .close-modal
                  %i.fa.fa-2x.fa-times
                #edit-form
                  %h2 ユーザー編集
                  = form_for(current_user) do |f|
                    %input{name: "_method", type: "hidden", value: "put"}/
                    %input{name: "authenticity_token", type: "hidden", value: "jwCrlLR7/b/rJMyQJVUFNtMhw5g6pcGwMbod3dCFeuKz2ZAwmK6IdGy8y1xzbMmw+cxObuF/KfeSqKgT63RKhw=="}/
                    .field
                      %label{for: "user_username"} Username
                      %br/
                      %input#user_username{autofocus: "autofocus", name: "user[username]", type: "text", value: current_user.username}/
                    .field
                      %label{for: "user_email"} Eメール
                      %br/
                      %input#user_email{autocomplete: "email", autofocus: "autofocus", name: "user[email]", type: "email", value: current_user.email}/
                    .field
                      %label{for: "user_password"} パスワード
                      %i (6 characters minimum)
                      %br/
                      %input#user_password{autocomplete: "new-password", name: "user[password]", type: "password"}/
                      %br/
                    .field
                      %label{for: "user_password_confirmation"} パスワード（確認用）
                      %br/
                      %input#user_password_confirmation{autocomplete: "new-password", name: "user[password_confirmation]", type: "password"}/
                    .actions
                      %input{"data-disable-with" => "Update", class:"action-input", name: "commit", type: "submit", value: "Update"}/
        - else
          %h3.user-label
            ログインされていません
        
        %ul
          %li
            = link_to "ゲーム概要", summary_introductions_path
          %li
            = link_to "ストーリー", story_introductions_path
          %li
            = link_to "遊び方", play_introductions_path
          %li
            = link_to "プレイモード" ,mode_introductions_path
          %li
            = link_to "プレイ上のポイント" ,point_introductions_path
          %li
            = link_to "カードリスト" ,root_path
          %li
            = link_to "ギャラリー" ,root_path

      .main
        #mainR
          %h2#mainRAaaStory アクエリアンエイジの世界
          %ul.menuS
            %li
              = link_to "ゲーム概要", summary_introductions_path
            %li ストーリー
          %p
            = image_tag "introduction/aaa_story1.jpg", width: "200", height: "150", alt: "アクエリアンエイジの世界", class: "pictL"
            %em.j14 永きにわたる人類の歴史。
            %br
            その裏で密かに地球の覇権を争ってきた、3つの勢力がある。
            %br
            %br
            東方の霊力を持つ者たちの連盟、阿羅耶識（あらやしき）。
            %br
            西洋の魔術師たちの秘密結社、WIZ-DOM（ウィズダム）。
            %br
            古の異種族の血を引く者たちの軍団、Darklore（ダークロア）。
            %br.clear
            西洋の占星術にいう、大いなる変革の時代、「Aquarian Age」に至るまで、三つ巴の争いに決着が付くことはなかった。
          %p
            %em.j14 そして現代。人類の中に超能力を持つ世代が現れ始めた。
            %br
            新人類を自称するその者たちは、旧来の勢力に属することなく、自らEvolutional Generation Organization-E.G.O.（エゴ）という新勢力を組織し、三勢力の争いに加わった。
            %br.clear
          %p
            = image_tag "introduction/aaa_story2.jpg", width: "200", height: "150", alt: "アクエリアンエイジの世界", class: "pictR"
            %em.j14 そんな4勢力の争いに一大転機を引き起こしたのが、謎の宇宙人イレイザーの襲来だった。
            %br
            地球全域に苛烈極まる攻撃をかけるイレイザーに対し、地球の4勢力は初めて一致団結。
            %br/
            かろうじてイレイザーを撤退させることに成功した。
            %br
            だが、戦いの疲れを癒す間もなく、地球に新たな敵が襲いかかる。
            %br
            その名も極星帝国（きょくせいていこく）。
            %br
            異次元にある「もうひとつの地球」から、次元を超えてやってきた侵略者だ。
            %br
            4勢力は再び協力して、極星帝国に立ち向かう。
            %br
            しかし強力極まる極星帝国の軍勢を地球から撤退させることはできなかった。
            %br
            そればかりか、一度は撤退したはずのイレイザーが、今度はさらに強力な艦隊とともに地球に進軍しつつあった…。
          %p
            %em.j14 戦いの鍵はマインドブレイカー。
            %br
            イレイザーの襲来を目前とした時期、世界中に現れた彼らは、他者を操り、また眠れる素質を覚醒させる能力を持っていた。
            %br
            特定の勢力に所属せず、単独で闇の戦いに介入し始めた彼らは、その能力を持って各勢力から仲間を集め、独自の目的のために活動しはじめたのだ。
            %br
            %br
            %em.j14 Aquarian Ageは、なおも混迷の色を深めていく…。
            %br.clear
          .linker
            %a{href: "#top"} ▲このページのトップへ
      .footer
        © 2019 Shota Tazawa
